
<div class="edit_profile_container">
  <!-- <h2>Edit <%= resource_name.to_s.humanize %></h2> -->

  <%= simple_form_for(current_user, url: user_registration_path, html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">

      <h2>EMAIL</h2>
      <%= f.input :email, required: true, autofocus: true, placeholder: 'Email' %>

      <h2>DESCRIPTION</h2>
      <%= f.text_area :description, autocomplete: 'off', hint: 'description here', required: false%>

      <h2>AVATAR</h2>
      <%= f.label :avatar, class: ''  %>
      <%= f.file_field :avatar %>
    </div>
</div>
<div class="grey">
  <div class="edit_profile_container ">
    <div class="form-inputs">

        <h2 class="title">Change your password</h2>

        <h2>Type the actual password</h2>
        <%= f.input :password, autocomplete: 'off', hint: "leave it blank if you don't want to change it", required: false, placeholder: 'Description' %>
        <h2>Type the new password</h2>
        <%= f.input :password_confirmation, required: false %>
        <h2>Retype it</h2>
        <%= f.input :current_password, hint: 'we need your current password to confirm your changes', required: true %>
      </div>
    </div>  
</div>

<div class="edit_profile_container">

    <div class="form-actions">
      <%= f.button :submit, 'Apply' ,class: 'edit_confirm' %>
    </div>
  <% end %>

  
</div>
