
<div class="edit_profile_container">
  <!-- <h2>Edit <%= resource_name.to_s.humanize %></h2> -->

  <%= simple_form_for(resource, url: user_registration_path, html: { method: :patch }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">

      <h2>EMAIL*</h2>
      <%= f.input :email, required: true, autofocus: true, placeholder: 'Email' %>

      <h2>USERNAME</h2>
      <%= f.input :username, placeholder: 'Username' %>

      <h2>DESCRIPTION</h2>
      <%= f.text_area :description, autocomplete: 'off', hint: 'description here', required: false%>

      <h2>AVATAR</h2>
      <%= f.label :avatar, class: ''  %>
      <%= f.file_field :avatar, required: false %>

      <div class="grey">
        
        <h2 class="title">Change your password</h2>

        <h2>New password</h2>
        <%= f.input :password, autocomplete: 'off', hint: "leave it blank if you don't want to change it", required: false %>
        <h2>New password confirmation</h2>
        <%= f.input :password_confirmation, required: false %>
        <h2>Current password to save changes*</h2>
        <%= f.input :current_password, hint: 'we need your current password to confirm your changes', required: true %>


        
      </div>


    <div class="form-actions">
      <%= f.button :submit, 'Apply' ,class: 'edit_confirm' %>
    </div>
  <% end %>
</div>

  
</div>
