<header>

    <div class="container">
        <div class="left_part">
            <div class="logo mgb_20"></div>
        </div>
        <div class="right_part">
            
            <p>Feed</p>
            <% if user_signed_in? %>
                <!-- logout link -->
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
                <%= link_to "Profile", controller: "pages", action: "show", id: current_user.id %>
            <% end %>
        </div>
    </div>

</header>


<div class="yell_index clear">

    <div class="container">

        <!-- error display from form tweet -->
        <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: name %>
        <% end -%>

        <!-- form to tweet -->
        <div class="yell_form mgb_30">
            <%= simple_form_for @new_tweet, :url => "/tweets/new", :method => :post do |f| %>
                <%= f.text_area :content, placeholder: 'Write something' %>
                <p class="nb_caract">140</p>
                <%= f.button :submit %>
            <% end %>
            <div class="clear"></div>

        </div>

        <!-- tweet feed of the user -->
        <ul class="yell_list clear">
            <% @tweet_list.each do |tweet| %>
                <li>

                    <div class="user_picture left_part"></div>

                    <div class="left_part">
                        <div class="user_name">
                            <%= tweet.user.username %>
                        </div>

                        <div class="">
                            <%= tweet.content %>
                            <div class="">
                                <a href="" class="favorite">favorite</a>
                                <a href="" class="garbage">garbage</a>

                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </li>
            <% end %>
        </ul>

    </div>

</div>

