<!-- Affichage des flash messages -->
<div class="flash_message" data-type="<%= (flash[:error].present?)? 'invalid' : '' %><%= (flash[:success].present?)? 'valid' : '' %>">
    <ul>
        <% flash.each do |name, msg| -%>
          <%= content_tag :li, msg, class: name %>
        <% end -%>
    </ul>
</div>


<header>

    <div class="container">
        <div class="left_part">
           <div class="logo mgb_20">
            <%= link_to "", users_index_path %>
           </div>
       </div>
        <div class="right_part">
            <% if user_signed_in? %>
                <div class="search_bar">
                    <%= form_tag(search_users_path, :method => 'get', id: 'search_form') do %>
                        <%= text_field_tag :query, params[:query], placeholder: 'Search for users' %>
                        <%= button_tag(type:"submit", class:"search_button") do %>
                            <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     width="15px" height="15px" viewBox="0 0 150 150" enable-background="new 0 0 150 150" xml:space="preserve">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M85.434,2.004c-34.581,0-62.611,27.74-62.611,61.973
                                    c0,13.747,4.527,26.44,12.176,36.717L1.965,133.725l14.271,14.271l33.275-33.272c10.17,7.065,22.551,11.227,35.922,11.227
                                    c34.571,0,62.602-27.741,62.602-61.974S120.005,2.004,85.434,2.004z M85.434,105.767c-23.323,0-42.219-18.705-42.219-41.79
                                    c0-23.084,18.896-41.796,42.219-41.796c23.313,0,42.22,18.712,42.22,41.796C127.653,87.062,108.747,105.767,85.434,105.767z"/>
                            </svg>
                        <% end %>
                    <% end %>
                </div>
                <div class="profile_button">
                    <%= link_to profile_id_path(current_user.id) do %>
                            <i class="icon-perso"></i>MY PROFILE
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>

</header>


<div class="yell_index clear">
    <div class="container">

        <button class="yell_something">Yell something !</button>

        <!-- form to tweet -->
        <div class="yell_form mgb_30">
            <%= simple_form_for @new_tweet, :url => "/tweets", :method => :post do |f| %>
                <%= f.text_area :content, placeholder: 'Write something' %>
                <p class="nb_caract">140</p>
                <%= f.button :submit %>
            <% end %>
        </div>

        <div class="container_yell">
            <!-- tweet feed of the user -->
            <ul class="yell_list clear">
                <% if @tweet_list.any?  %>
                    <% @tweet_list.each do |tweet| %>
                        <li>
                            <div class="user_picture">
                                <%= image_tag(tweet.user.avatar.url(:small)) %>
                            </div>
                            <div class="user_content">
                                <div class="head_yell">
                                    <div class="user_name">
                                        <%= link_to tweet.user.username, controller: "pages", action: "profile", id: tweet.user.id %>
                                    </div>
                                    <p class="yell_time"><%= time_ago_in_words(tweet.created_at) %></p>
                                </div>
                                <div class="user_yell">
                                    <%= tweet.content %>
                                    <div class="user_actions">
                                        <span class="favorite">
                                            <% is_favorite = @favorite_list.exists?(tweet_id: tweet.id) ? true : false; %>
                                            <%= form_tag({:controller => :favorites, :action => (is_favorite ? "destroy" : "create"), :id => tweet.id }, :method => (is_favorite ? :delete : :create), :class => "form_favorite") do %>
                                              <% button_tag(type: 'submit') do %>
                                                <i class="icon-star <%= (is_favorite ? "active" : "") %>"></i>
                                              <% end %>
                                            <% end %>
                                            <p><%= tweet.favs.count %></p>
                                        </span>
                                        <% if tweet.user.id == current_user.id %>
                                            <%= form_tag({:controller => :tweets, :action => 'destroy', :id => tweet.id }, :method => :delete, :class => "form_delete") do %>
                                              <% button_tag(type: 'submit') do %>
                                                <i class="icon-trash"></i>
                                              <% end %>
                                            <% end %>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        </li>
                    <% end %>
                <% else %>
                    <div class="never_tweeted">
                        <p> There's nothing to show to you yet. </p>
                    </div>
                <% end %>
            </ul>
        </div> 
        <div class="yell_it_btn">
            <i class="icon-megaphone"></i>
        </div>      
    </div>
</div>
<div class="point"></div>   
