<header>

    <div class="container">
        <p>Feed</p>
        <% if user_signed_in? %>
            <!-- logout link -->
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            <%= link_to "Profile", controller: "users", action: "show", id: current_user.id %>
      <% end %>

    </div>

</header>


<div class="yell_index">

    <div class="container">

        <!-- error display from form tweet -->
        <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: name %>
        <% end -%>

        <!-- form to tweet -->
        <div class="yell_form mgb_30">
            <%= simple_form_for @new_tweet, :url => "/tweets/new", :method => :post do |f| %>
                <%= f.text_area :content, placeholder: 'Write something' %>
                <p class="nb_caract">140</p>
                <%= f.button :submit %>
            <% end %>

        </div>

        <!-- tweet feed of the user -->
        <ul class="yell_list">
            <% @tweet_list.each do |tweet| %>
                <li>
                    <%= tweet.user.username %>
                    <br>
                    <%= tweet.content %>
                    <a href="" class="favorite">favorite</a>
                    <a href="" class="garbage">garbage</a>
                </li>
            <% end %>
        </ul>

    </div>

</div>

