<header>

    <div class="container">
        <div class="left_part">
           <div class="logo mgb_20">
            <%= link_to "", users_index_path %>
           </div>
       </div>
        <div class="right_part">
            <% if user_signed_in? %>
                <div class="profile_button">
                    <%= link_to profile_id_path(current_user.id) do %>
                            <i class="icon-perso"></i>MY PROFILE
                    <% end %>
                </div>

            <% end %>
        </div>
    </div>

</header>


<div class="yell_index clear">
    <div class="container">
        <!-- error display from form tweet -->
        <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: name %>
        <% end -%>

        <button class="yell_something">Yell something !</button>

        <!-- form to tweet -->
        <div class="yell_form mgb_30">
            <%= simple_form_for @new_tweet, :url => "/tweets", :method => :post do |f| %>
                <%= f.text_area :content, placeholder: 'Write something' %>
                <p class="nb_caract">140</p>
                <%= f.button :submit %>
            <% end %>
        </div>

        <!-- tweet feed of the user -->
        <ul class="yell_list clear">
            <% if @tweet_list.any?  %>
                <% @tweet_list.each do |tweet| %>
                    <li>
                        <div class="user_picture">
                            <%= image_tag(tweet.user.avatar.url(:small)) %>
                        </div>
                        <div class="user_content">
                            <div class="head_yell">
                                <div class="user_name">
                                    <%= link_to tweet.user.username, controller: "pages", action: "profile", id: tweet.user.id %>
                                </div>
                                <p class="yell_time"><%= tweet.created_at %></p>
                            </div>
                            <div class="user_yell">
                                <%= tweet.content %>
                                <div class="user_actions">
                                    <span class="favorite">
                                        <a href="#">
                                            <i class="icon-star"></i>
                                        </a>
                                        <p>12</p>
                                    </span>
                                    <% if tweet.user.id == current_user.id %>
                                        <%= form_tag({:controller => :tweets, :action => 'destroy', :id => tweet.id }, :method => :delete, :class => "form_delete") do %>
                                          <% button_tag(type: 'submit') do %>
                                            <i class="icon-trash"></i>
                                          <% end %>
                                        <% end %>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </li>
                <% end %>
            <% else %>
                <p> You never tweeted :( </p>
            <% end %>

        </ul>
    </div>
</div>

