<header>

    <div class="container">
        <div class="left_part">
            <div class="logo mgb_20"></div>
        </div>
        <div class="right_part">
            <% if user_signed_in? %>
                <!-- logout link -->
<!--                 <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> -->

                <div class="profile_button">
                    <i class="icon-perso"></i>
                    <%= link_to "Profile", {controller: "pages", action: "profile", id: current_user.id }, class: 'classexp' %>
                </div>

            <% end %>
        </div>
    </div>

</header>


<div class="yell_index clear">

    <div class="container">

        <!-- error display from form tweet -->
        <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: name %>
        <% end -%>

        <!-- form to tweet -->
        <div class="yell_form mgb_30">
            <%= simple_form_for @new_tweet, :url => "/tweets", :method => :post do |f| %>
                <%= f.text_area :content, placeholder: 'Write something' %>
                <p class="nb_caract">140</p>
                <%= f.button :submit %>
            <% end %>
        </div>

        <!-- tweet feed of the user -->
        <ul class="yell_list clear">
            <% @tweet_list.each do |tweet| %>
                <li>
                    <div class="user_picture">
                          <div class="user_picts"></div>
                    </div>
                  

                    <div class="user_content">
                        <div class="head_yell">
                            <div class="user_name">
                                <%= link_to tweet.user.username, controller: "pages", action: "profile", id: tweet.user.id %>
                            </div>
                            <p class="yell_time">4sec</p>
                        </div>
                        <div class="user_yell">
                            <%= tweet.content %>
                            <div class="user_actions">
                                <a href="#"><i class="icon-star"></i></a>
                                <p>12</p>
                                <a href="#"><i class="icon-trash"></i></a>

                            </div>
                        </div>
                    </div>
                </li>
            <% end %>
        </ul>

    </div>

</div>

