<header>
    <div class="container">
        <p>Profil</p>
        <!-- logout link -->
        <% if user_signed_in? %>
            <li>
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            </li>
        <% end %>

    </div>
    

</header>


<div class="yell_index">
    <div class="container">
        <!-- <h1>Users#index</h1>
        <p>Find me in app/views/users/index.html.erb</p> -->




        <!-- error display from form tweet -->
        <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: name %>
        <% end -%>
        <!-- form to tweet -->


        <div class="yell_form mgb_30">
            <%= simple_form_for @new_tweet, :url => "/tweets/new", :method => :post do |f| %>
                <%= f.text_area :content, placeholder: 'Write something' %>
                <p class="nb_caract">140</p>
                <%= f.button :submit %>
            <% end %>

        </div>


        <!-- tweet feed of the user -->
        <ul class="yell_list">
            <% @tweet_list.each do |tweet| %>
              <li>
                <%= tweet.content %>
                <a href="" class="favorite">favorite</a>
                <a href="" class="garbage">garbage</a>
              </li>
            <% end %>
        </ul>

    </div>
    

</div>

