<h2>User profile</h2>
<br>
<p>Username :</p>
<%# current_user.username %>
<%= @user.username %>
<br><br>

<p>Profil description :</p>
<%# current_user.description %>
<%= @user.description %>
<br><br>

<p>Tweets :</p>

<% if @user_tweet.any?  %>
  <% @user_tweet.each do |tweet| %>
    
    <br>
    <%= tweet.content %> published on <%= tweet.created_at.strftime('%m/%d/%Y') %>
    <br>
    ----

  <% end %>
<% else %>
  Never Tweeted :(
<% end %>


<p>BOUTON : </p>

<!-- Affichage des flash messages -->
<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>

<!-- Formulaire de follow / unfollow -->
<%= simple_form_for @follow do |f| %>

  <%= f.error_notification %>

  <%= f.input_field :followed_id, as: :hidden, :value => @user.id %>

  <%= f.button :submit, "Follow" %>

<% end %>

<%= simple_form_for @follow, url: follow_path ,method: :delete do |f| %>

  <%= f.error_notification %>

  <%= f.input_field :followed_id, as: :hidden, :value => @user.id %>

  <%= f.button :submit, "Unfollow" %>

<% end %>
